body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h3 {
      font-size: 22px;
      color: #353535;
      font-weight: 400;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 10px;
  }

  span{
    margin-right: 8px;
  }

  #title{
    margin-bottom: 0px;
  }

  #sub-title{
    color: #fff;
    font-size: 29px;
    font-weight: 400;
    margin-top: 0px;
  }

  .typewrite {
    margin-top: 30px;
    color:#fff;
    text-decoration: none;
    font-size: 34px;
  }

  .wrap {
    border-right: 0.15em solid #fff ;
  }

  .jumbotron {
      background-color: #013148;
      color: #fff;
      padding: 100px 25px;
      margin-bottom: 0px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 50px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #013148;
      font-size: 50px;
  }
  .logo {
      color: #013148;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }

  .apply a{
    font-weight: 400;
    color: #013148;
    outline: none;
    border: 1px solid #013148;
    font-size: 1.3em;
    padding: 0.4em 0.8em;
    background: transparent;
    text-decoration: none;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -moz-transition: 0.7s all;
    -o-transition: 0.7s all;
    -ms-transition: 0.7s all;
  }

  .apply a:hover{
    border: 1px solid #013148;
    background:#013148;
    color:#fff;
  }

  .designation{
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #013148;
  }
  .carousel-indicators li {
      border-color: #013148;
  }
  .carousel-indicators li.active {
      background-color: #013148;
  }
  .carousel-indicators{
      position: relative;
      margin: 0px;
      margin-top: 25px;
      padding: 0px;
      width: 100%;
      left: 0;
  }

  #googleMap{
    height: 400px;
  }

  #contact-details{
    margin-left: 35px;
  }
  #contact-details h4{
    font-size: 18px;
    color: #333;
    margin-bottom: 18px;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #013148;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #013148 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #013148;
  }

  /* slide animation on scroll */
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/*------------------*/

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
